<!-- PAGE CONTENT -->
<h2>Installeurs du jeu original</h2>
<ul>
    {% for version in versions %}
    <li><a href="{{version.link}}">{{version.name}}</a></li>
    {% endfor %}
</ul>
<h1>Maps</h1>
<h2>Crées pour RS</h2>
<a href="https://drive.google.com/file/d/1TAoqZlolkS6HS2umc6RhRV05hHUgveG8/view?usp=drive_link">Télécharger toutes les cartes</a><br /><br />
<div class="map-container">
    {% for map in maps.created %}
    <div class="map-entry">
        <h3><a href="{{map.link}}">{{map.name}}</a></h3>
        <h4>{{ " crée par " if map.kind == "creation" else " modifiée pour RS par " }} {{map.creator}}</h4>
        <img src="assets/map_previews/{{map.name}}.bmp" onerror="this.onerror=null; this.src='assets/map_previews/NotFound.bmp'" />
    </div>
    {% endfor %}
</div>
<h2>Importées de CS</h2>
<div class="map-container">
    {% for map in maps.imported %}
    <div class="map-entry">
        <h3><a href="{{map.link}}">{{map.name}}</a></h3>
        <h4>par {{map.creator}}</h4>
        <img src="{{map.preview}}" />
    </div>
    {% endfor %}
</div>