<!-- PAGE CONTENT -->
<h2>Mappez pour OpenRomu !</h2>

<a class="download-btn" href="https://github.com/OpenRomu/OpenRomu_Mapping_SDK/releases">Téléchargement du SDK</a>

<h3>Créer le niveau</h3>
<div class="split">
  <div style="margin-right: 50px;">
    <p>
      OpenRomu utilise des cartes au format natif de Half-Life 1 (BSP), vous pouvez donc choisir parmi une sélection d'éditeurs tiers compatibles avec Half-Life, les plus connus étant:<br />
    </p>
    <ul>
      <li><a href="https://developer.valvesoftware.com/wiki/Half-Life_SDK">Valve Hammer</a></li>
      <li><a href="https://jack.hlfx.ru/en/">J.A.C.K.</a></li>
      <li><a href="https://trenchbroom.github.io/">Trenchbroom</a></li>
    </ul>
    <p>
      De nombreux tutoriaux sont disponibles sur internet pour apprendre a créer des niveaux avec ces outils.<br />
      Pour les nostalgiques et débutants, <a href="./assets/SiteDuZero_Tutorial_Hammer.pdf">voici le pdf qui permet d'apprendre a créer des maps</a> sur Valve Hammer, issu du Siteduzero de 2008 !<br />
      <br />
      Quel que soit l'outil que vous souhaitez utiliser, il vous faudra un fichier "FGD" pour configurer votre éditeur pour OpenRomu.<br />
      Cela permet de configurer votre éditeur pour n'afficher que les entités supportées par OpenRomu.<br />
    </p>
  </div>
  <img style="width: 60%; max-width: 400px; height: auto; max-height: 400px; " src="assets/Vhe_main_view.jpg" />
</div>
<h3>Textures</h3>
<p>
  OpenRomu utilise là aussi des textures au format natif de Half-Life 1 (WAD).<br />
  Le jeu est fourni avec un WAD dont les textures sont libres de droit (CC0), ou ont été crées par la communauté.<br />
  Le SDK possède une fonction qui vous permet d'ajouter vos propres textures et de créer un WAD custom à utiliser dans vos cartes.<br />
  Il est également possible de trouver des WADs en ligne, mais veillez a respecter la propriété de chacun lorseque vous utilisez des assets téléchargés.<br />
</p>
<h3>Intégrer la map dans le jeu</h3>
<p>
  OpenRomu ne lit pas directement les fichiers de niveaux au format BSP, (bien qu'il soit capable de le faire via les outils de développement).<br />
  Les cartes jouables en ligne et distribuées sont au format .PAK. Grâce au SDK, il est possible de convertir une carte BSP en fichier .PAK pour l'intégrer au jeu.<br />
  Pour jouer en ligne à vos niveaux sur OpenRomu, veillez a respecter ce format.<br />
</p>
<p>
  N'oubliez pas de partager vos créations sur le discord!
</p>
