<!-- PAGE CONTENT -->
<h2>Créer un compte</h2>
<iframe id="register-frame" src="{{MASTER_SERVER_HTTPS}}/register"></iframe>
<b><a id="iframe-help" onclick="openRegistration()" href="javascript:void(0);">Si l'encadré ne charge pas, merci de suivre ce lien</a></b>
<h3>Termes & Conditions</h3>
<ul id="terms_conditions">
  <li>Les messages apparaissant sur le site, le chat, le jeu ou le forum expriment l'opinion de l'auteur et non celle d'OpenRomu, ni celle des autres. De plus, OpenRomu n'est pas responsable du contenu des messages qui s'y trouvent.</li>
  <li>Vous acceptez de ne pas publier de contenu abusif, obscène, vulgaire, diffamatoire, choquant, menaçant, à caractère sexuel ou autrement illégal sur le site, le chat, le jeu et le discord qui pourrait violer les lois françaises ou internationales. Le faire peut entraîner un bannissement immédiat et permanent, avec notification à votre fournisseur d'accès Internet si jugé nécessaire.</li>
  <li>Vous n'êtes autorisé qu'à avoir un seul compte dans le jeu, et vous ne pouvez pas changer de nom d'utilisateur.</li>
  <li>Vous ne pouvez pas modifier les fichiers du jeu (modèles, armes, images, cartes) si vous les utilisez dans le jeu en ligne.</li>
  <li>Vous vous engagez à ne pas exploiter les failles du jeu. Au lieu de cela, si vous en trouvez, nous vous encourageons à les signaler via le formulaire en bas du site, sur le discord, ou par email au staff du jeu.</li>
  <li>Vous acceptez que des données personnelles (email, IP, cookies, informations du navigateur, du système et du matériel) soient collectées pour permettre le bon fonctionnement du site et du jeu (connexion au jeu, statistiques, modération). Ces données ne seront pas utilisées pour porter atteinte à vos libertés numériques.</li>
  <li>L'adresse email fournie lors de votre inscription doit être valide et capable d'établir un contact avec vous. Elle doit donc être vérifiée régulièrement.</li>
  <li>OpenRomu s'efforce de modérer le site, et le jeu et se réserve le droit de supprimer, pour toute raison, tous les messages perturbateurs ou inappropriés. Étant donné que chaque message apparaît en ligne immédiatement et que la modération est effectuée manuellement, il est impossible pour OpenRomu de revoir tous les messages. Compte tenu des contraintes, OpenRomu modérera le site, le chat, le jeu et le forum aussi activement que possible.</li>
  <li>La suppression par OpenRomu d'un ou plusieurs messages du forum ne dégage pas l'auteur de la responsabilité du contenu des messages qu'il a postés sur le site, le chat, le jeu ou le forum.</li>
  <li>Toutes les formes de publicité, et de promotion sont inappropriées et strictement interdites.</li>
  <li>En cas de non-respect de ce code de conduite, OpenRomu se réserve le droit de bannir la personne concernée, de supprimer tous ses messages et de supprimer son compte.</li>
  <li>Le jeu est gratuit, considérez qu'il est développé et modéré par des bénévoles contribuant de leur temps libre.</li>
  <li>Nous nous engageons à respecter les libertés qui vous sont dues dans la mesure où elles sont conformes à ce règlement.</li>
  <li>Sur OpenRomu, le contenu est crée par la communauté. Leurs créateurs peuvent donc décider de retirer n'importe quel asset pour n'importe quelle raison.</li>
</ul>
<script>
  document.getElementById("register-frame").ready = function() { 
    document.getElementById("iframe-help").hidden = true;
  };
  function openRegistration() {
    window.open('{{MASTER_SERVER_HTTPS}}/register')
  }
</script>