
<!-- NAVIGATION -->
<nav>
    <ul class="menu-container">
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'index' else "menu-link" }}" href="./index.html">Accueil</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'howtoplay' else "menu-link" }}" href="./howtoplay.html">Comment Jouer</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'leaderboard' else "menu-link" }}" href="./leaderboard.html">Classements</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'mapping' else "menu-link" }}" href="./mapping.html">Mapping</a>
        </li>
        <li class="menu-btn">
            <a class="{{ "menu-active" if page == 'archives' else "menu-link" }}" href="./archives.html">Archives</a>
        </li>
    </ul>
</nav>